*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* transition: all 1s cubic-bezier(1,0,0.2,1) */
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff; 
    font-family: Nunito;
    /* padding: 2rem; */
  }

  .slider {
    position: relative;
    width: 750px;
    margin: 0 auto;
    height: 400px;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .slider-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
  }
  
  .slide {
    display: inline-block;
    height: 100%;
    width: 100%;
  }
  
  .arrow {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9f9f9;
    border-radius: 50%;
    cursor: pointer;
    transition: transform ease-in .1s;
  }
  
  .nextArrow {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 999;
    color: #fff;
    width: 50px;
    height: 100%;
    cursor: pointer;
    background-image: linear-gradient(to right,rgba(0,0,0,0),rgba(0,0,0,.02) 1%,rgba(0,0,0,.6) 100%);
  }
  
  .backArrow {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999;
    color: #fff;
    width: 50px;
    height: 100%;
    cursor: pointer;
    background-image: linear-gradient(to left,rgba(0,0,0,0),rgba(0,0,0,.02) 1%,rgba(0,0,0,.6) 100%);
  }

  .backArrow>img, .nextArrow>img{
    position: relative;
    top: calc(50% - 25px);
  }
  
  .fa-arrow-right:before, .fa-arrow-left:before {
    color: #222
  }

  .slide-indicator{
    position: relative;
    bottom: 24px;
    z-index: 2;
    text-align: center;
  }

  .indicator{
    display: inline-block;
    width: 13px;
    height: 13px;
    margin: 3px;
    /* background: #ff4444; */
    background: #fff;
    border: 0;
    opacity: 0.7;
    border-radius: 10px
  }
  .active{
    border: 4px solid #1b1b1b;
    background: #fff;
  }
  

